.main-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-nosotros-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}
.main-local{
    @include size (25rem, 40rem);
}
.main-texto{
    font-size: 1.1rem;
    width: 70%;
    text-align: center;
}