$orange: chocolate;
$red: #AF2323;
$blue: #2F78E8;
$violet: #724AB8;
$grey: #7F7D81;
$liteblue: #9FD3C5;
$litegrey: #C3C4C4;
$golden: #BEAC81;
$blackred: #63272A;
$liteblack: #C1C1C1;
$white:   white;
$black: black;
$brown: brown;
$liteblue: #8496D9;
